<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700&family=Dosis:wght@300&family=Monsieur+La+Doulaise&family=Mrs+Saint+Delafield&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>The Directory</title>
</head>
<body>
    <div class="row">
        
        <h1 class="col-sm-12 col-md-6 col-lg-3 titleheading ">T h e  D i r e c t o r y</h1>
        <p>Find legitimate agencies and agents to help you find your dream home</p>
    </div>
   
    {%block content%}
    {%endblock%}

    
</body>
</html>